@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #0c110e;
  }
  
  body {
      background: linear-gradient(to bottom, #2b3230 0%, #0c110e 100%);
      width: 100vw;
      height: 100vh;
      background-attachment: fixed;
      @apply text-white;
  }
}